In [4]:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Documentación pandas

https://pandas.pydata.org/pandas-docs/stable/index.html

## Dataset

El dataset que usaremos es una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Este dataset es el mismo que emplearemos en la clase presencial, y en estos ejercicios buscamos  familiarizarnos con él y revisar algunos temas.

Importamos la biblioteca pandas y asignamos pd como alias:

In [1]:
import pandas as pd

## Ejercicio 1

Busquemos en la documentación de pandas la sintaxis del método `read_csv` y leamos en un `DataFrame` llamado data los datos del archivo /M1/CLASE_04/Data/data_filt.csv 

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

In [3]:
#importante tener en cuenta el encoding pues el texto contiene tildes y demas

data_location = '../Data/data_filt.csv'
data = pd.read_csv(data_location, encoding = "ISO-8859-1")
data

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
...     ...                ...   ...              ...      ...
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Ejercicio 2

Repasemos el concepto de índice y columnas de un `DataFrame`

Accedamos al índice (nombres de las filas) del `DataFrame` data

Accedamos a los nombres de columnas del `DataFrame` data

In [4]:
data.index, data.columns

(RangeIndex(start=0, stop=23448, step=1),
 Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object'))

Vamos a modificar ahora el índice de data, así el valor del índice no coincide con la posición y podemos notar diferencias en los ejercicios que siguen.

In [5]:
data.index = data.index + 7
print(data.index)
data.head(5)

RangeIndex(start=7, stop=23455, step=1)

    ch06           nivel_ed  htot            calif     p47t
7     46        1_H/Sec inc    45  2_Op./No calif.   6000.0
8     26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
9     47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
10    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
11    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

## Ejercicio 3

Repasemos el uso de `loc` e `iloc`

* `loc` nos permite acceder a un elemento por su índice

* `iloc` nos permite acceder a un elemento por su posición

Leamos con `loc` y con `iloc` la cuarta fila de data

¿Cómo accedemos al valor del índice en la cuarta fila?

In [6]:
data.loc[4], data.iloc[4]

KeyError: 4

In [9]:
data.loc[4+7], data.iloc[4]

(ch06                     45
 nivel_ed        1_H/Sec inc
 htot                     44
 calif       2_Op./No calif.
 p47t                 9500.0
 Name: 11, dtype: object,
 ch06                     45
 nivel_ed        1_H/Sec inc
 htot                     44
 calif       2_Op./No calif.
 p47t                 9500.0
 Name: 11, dtype: object)

## Ejercicio 4

Repasemos el uso de `loc` combinado con máscaras booleanas.

Queremos construir un objeto `DataFrame` con los registros de edad menor a 15 o mayor igual a 70.

In [16]:
data.ch06

7        46
8        26
9        47
10       52
11       45
         ..
23450    45
23451    58
23452    36
23453    49
23454    36
Name: ch06, Length: 23448, dtype: int64

In [31]:
#Importante colocar las proposciones con parentesis si no me va a salir un resultado ambiguo

data[(data.ch06<15) |  (data.ch06>= 70)].sample(10)

       ch06           nivel_ed  htot            calif     p47t
14094    14        1_H/Sec inc    15  2_Op./No calif.   3000.0
21021    70        1_H/Sec inc    53  2_Op./No calif.   6700.0
19179    75        1_H/Sec inc    48    1_Prof./Tecn.  10800.0
6907     73  2_Sec. comp y más    40  2_Op./No calif.  23800.0
18882    74        1_H/Sec inc    25  2_Op./No calif.   5200.0
15560    75        1_H/Sec inc    56  2_Op./No calif.   9500.0
5044     76        1_H/Sec inc    10  2_Op./No calif.   5000.0
20767    70  2_Sec. comp y más    12  2_Op./No calif.  23700.0
16425    76        1_H/Sec inc     2  2_Op./No calif.  10500.0
10894    73  2_Sec. comp y más    15  2_Op./No calif.   8000.0

## Ejercicio 5

Calculemos algunas métricas sobre un objeto `DataFrame`

* Promedio de edad

* Máximo de horas trabajadas

* Mediana de ingreso

In [33]:
data.ch06.mean()

40.455689184578645

In [34]:
data.htot.max()

168

In [35]:
data.p47t.median()

7000.0